/* tag generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

li {
    cursor: pointer;
}

/* Tag generali container */

#container {
    height: calc(100vh - 80px);
    display: flex;
}

/* Tag aside di sinistra  */

#aside_left {
    height: 100%;
    width: 200px;
    background: #000;
    padding: 20px 50px 0 15px;
    color: white;
}

#aside_left .logo {
    height: 60px;
    width: 100%;
}

#aside_left ul {
    list-style-type: none;
}

#aside_left ul li span {
    font-size: 13px;
}

#aside_left ul li img{
    width: 22px;
    height: 22px;
}

.selected {
    border-left: 3px solid #adff2f;
}


/* Tag aside di destra */

#aside_right {
    height: 100%;
    width: calc(100% - 200px);
    background-color:#141922;
    overflow: auto;
}

/* Tag del nav */

#above {
    height: 80px;
    width: calc(100% - 200px);
    position: fixed;
    display: flex;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.upgrade {
    border: 1px solid white;
    border-radius: 25px;
    padding: 5px 30px;
    cursor: pointer;
    margin: auto 10px;
    line-height: 28px;
    font-weight: bolder;
    font-size: 12px;
    color: white;
}

/* Tag del main principale */

#center {
    height: calc(100% - 80px);
}









/* Tag geneali footer */

#footer {
    height: 80px;
    background-color: #282828;
}