/* Tag per hover  */

.upgrade:hover {
    transform: scale(1.1);
}

a:hover, .far:hover{
    color: white;
}

.music:hover img, .artist:hover img {
    width: 100%;
    opacity: 0.5;
}

.bar:hover .bar-playback, .bar-audio:hover .audio {
    background-color: rgb(21, 226, 21);
}

.bar:hover .circle, .bar-audio:hover .circle {
    display: block;
}

.text:hover h4{
    border-bottom: 1px solid white;
    cursor: pointer;
}

.music:hover .image span, .artist:hover .image span {
    display: block;
}

.footer-dx i:hover, .first i:hover{
    color: white;
}