
/* tag responsive (878 x 1095) */

@media all and (max-width: 878px) {

    /* tag main */

    main .menu_center {
        text-align: center;
        line-height: 200%;
        margin: 100px 0 40px 0;
        font-size: 15px;
    }

    .list h1 {
        font-size: 25px;
    }

    .album {
        flex-wrap: wrap;
    }

    .music, .artist {
        width: calc(87% / 4);
    }

    .music .image span {
        bottom: 20%;
    }

    .artist .image span {
        left: 50%;
        bottom: 5%;
    }

    /* tag footer */

    .footer-center .icon i {
        font-size: 18px ;
        margin: 5px 10px;
    }

    .bar-audio {
        width: 40%;
    }

 }

 /* tag responsive (639 x 1095) */

 @media all and (max-width: 639px) {

    /* tag main */

    main .menu_center {
        text-align: center;
        line-height: 325%;
        font-size: 13px;
    }

    .music, .artist {
        width: calc(89% / 2);
    }


    .music .image span {
        bottom: 25%;
    }

    .artist .image span {
        left: 50%;
        bottom: 15%;
    }

    /* tag footer */

    .footer-sx {
        width: 34%;
        padding: 21px 10px;
    }

    .footer-sx .text {
        margin: auto 5px auto 15px;
        font-size: 0.7rem;
    }

    .icon-sx {
        flex-direction: column;
    }

    .footer-sx i {
        margin-bottom: 5px;
    }

    .footer-center .icon i {
        font-size: 13px;
    }
    
    .footer-center .icon i {
        margin: 3px 9px;

    }

    .footer-dx i {
        font-size: 11px;
        margin: 0 3px;
    }

    .bar-audio {
        width: 55%;
    }

 }


 /* tag responsive (552 x 1095) */

 @media all and (max-width:552px) {

    #aside_left {
        width: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #aside_left .logo {
        width: 220%;
    }

    .logo .logo-full {
        display: none;
    }

    .logo .logo-small {
        display: block;
    }

    .menu {
        margin-top: 40px;
    }

    .menu ul li a span {
        display: none;
    }

    .selected {
        border: none;
    }

    .playlist {
        display: none;
    }

    .download {
        border: none;
        display: initial;
    }

    .download a {
        display: none;
    }
    
    .account div:last-child{
        display: none;

    }

    .account {
        display: initial;
    }

    #aside_right, #above {
        width: calc(100% - 20px);
    }

    .upgrade {
        padding: 2px 18px;
        font-size: 10px;
        margin: auto 45px;
    }

    main .menu_center {
        font-size: 12px;
    }

    .green {
        border-bottom: 1px solid #adff2f;
    }

    .footer-sx .text {
        font-size: 0.71rem;
    }

 }